################################################################################
# GITATTRIBUTES
################################################################################

# Everything in this repo is a text file
* text eol=lf

################################################################################
